[Unit]
Description=Selfstorage Postgres Docker Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a selfstorage-postgres
ExecStop=/usr/bin/docker stop selfstorage-postgres

[Install]
WantedBy=multi-user.target
