[Unit]
Description=Selfstorage Services
Requires=selfstorage_postgres.service selfstorage_django.service selfstorage_clearsessions.timer selfstorage_notices.timer selfstorage_reminders.timer
After=selfstorage_postgres.service selfstorage_django.service selfstorage_clearsessions.timer selfstorage_notices.timer selfstorage_reminders.timer

[Install]
WantedBy=multi-user.target
