[Unit]
Description=Send expired rent notices

[Service]
WorkingDirectory=/opt/SelfStorage/
ExecStart=/opt/SelfStorage/venv/bin/python manage.py send_expired_notices
