[Unit]
Description=Send rent reminders

[Service]
WorkingDirectory=/opt/SelfStorage/
ExecStart=/opt/SelfStorage/venv/bin/python manage.py send_rent_reminders
