{% extends "email_base.html" %}

{% block content %}
  <p>Уважаемый {{ customer_name }},</p>

  <p>
    Ваш складской бокс теперь может быть открыт с помощью QR-кода.
    Просто поднесите этот код к сенсору на двери бокса, чтобы открыть ее.
  </p>

  <p>
    Обратите внимание: код перестанет действовать после одного использования, либо через одну неделю.
    Предыдущие коды, выпущенные для этого бокса, теперь не работают.
  </p>

  <h4 class="SelfStorage_green">Мой склад № {{ box.storage.id }}</h4>
  <p>{{ box.storage.address }}</p>
  <h4 class="SelfStorage_green">Бокс №{{ box.number }}</h4>

  <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{ box_open_code }}"
       alt="QR-код для открытия складского бокса">

  <p>Если у Вас есть какие-либо вопросы, пожалуйста, напишите нам.</p>

  <p>С уважением,<br>SelfStorage</p>
{% endblock %}