{% extends "email_base.html" %}

{% block content %}
    <p>Уважаемый {{ name }},</p>

    <p>
      К сожалению, аренда Вашего складского бокса истекла {{ expiration_date|date }}
    </p>

    <p>
      С этого момента до {{ termination_date|date }}
      Вам будет начисляться ежемесячная плата за аренду со ставкой,
      увеличенной на 15%.
      По истечении этого срока при отсутствии оплаты мы вынуждены будем ликвидировать ваши вещи,
      либо забрать себе, если там есть что-то прикольное.
    </p>

    <p>Если у Вас есть какие-либо вопросы, пожалуйста, напишите нам.</p>

    <p>С уважением,<br>SelfStorage</p>
{% endblock %}