{% extends "email_base.html" %}

{% block content %}
  <p>Уважаемый {{ name }},</p>

  <p>
    Мы хотели бы напомнить вам, что аренда следующих боксов истекла:
  </p>

  {% for invoice in invoices %}
    {% with box=invoice.booking.box %}

      <p>
        <strong>Мой склад №{{ box.storage.id }}</strong>, {{ box.storage.address }},
        <strong>Бокс №{{ box.number }}</strong>: <br>
        оплачен по <strong>{{ invoice.pays_until|date }}</strong>
      </p>

    {% endwith %}
  {% endfor %}

  <p>
    С этого момента на неоплаченные боксы будет начисляться ежемесячная арендная плата со ставкой,
    увеличенной на 10%.
    При отсутствии оплаты в течение 6 месяцев с момента истечения аренды
    мы будем вынуждены ликвидировать ваши вещи,
    либо забрать себе, если там есть что-то прикольное.
  </p>

  <p>Если у Вас есть какие-либо вопросы, пожалуйста, напишите нам.</p>

  <p>С уважением,<br>SelfStorage</p>
{% endblock %}