{% extends "email_base.html" %}

{% block content %}
    <p>Уважаемый {{ customer_name }},</p>

    <p>
      Ваш складской бокс теперь может быть открыт с помощью QR-кода.
      Просто поднесите этот код к сенсору на двери бокса, чтобы открыть ее.
    </p>

    <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{ box_open_code }}"
         alt="QR-код для открытия складского бокса">

    <p>Если у Вас есть какие-либо вопросы, пожалуйста, напишите нам.</p>

    <p>С уважением,<br>SelfStorage</p>
{% endblock %}