{% extends "email_base.html" %}

{% block content %}
    <p>Уважаемый {{ customer_name }},</p>

    <p>
      К сожалению, аренда Вашего складского бокса истекла.
      С этого момента и в течение следующих
      {{ termination_date|timeuntil }}
      Вам будет начисляться плата за аренду со ставкой,
      увеличенной на 15%.
      По истечении этого срока при отсутствии оплаты мы вынуждены будем ликвидировать ваши вещи,
      либо забрать себе, если там есть что-то прикольное.
    </p>

    <p>Если у Вас есть какие-либо вопросы, пожалуйста, напишите нам.</p>

    <p>С уважением,<br>SelfStorage</p>
{% endblock %}