{% extends "email_base.html" %}

{% block title %}
  Напоминание об арендном платеже
{% endblock %}

{% block content %}
    <p>Уважаемый {{ customer_name }},</p>

    <p>
      Мы хотели бы напомнить Вам, что аренда Вашего складского бокса истекает через
      {{ expiration_date|timeuntil }}.
      Пожалуйста, убедитесь, что Вы оплатили аренду вовремя, чтобы избежать дополнительных сборов.
    </p>

    <p>Если у Вас есть какие-либо вопросы, пожалуйста, напишите нам.</p>

    <p>С уважением,<br>SelfStorage</p>
{% endblock %}